In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
initialDf = pd.read_csv('Clean_Dataset.csv')
initialDf.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [4]:
initialDf = initialDf.drop(['Unnamed: 0','flight'],axis = 1)
initialDf.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [5]:
initialDf['airline'].unique()

array(['SpiceJet', 'AirAsia', 'Vistara', 'GO_FIRST', 'Indigo',
       'Air_India'], dtype=object)

In [6]:
initialDf['source_city'].unique()

array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
      dtype=object)

In [7]:
initialDf['departure_time'].unique()

array(['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night'], dtype=object)

In [8]:
initialDf['stops'].unique()

array(['zero', 'one', 'two_or_more'], dtype=object)

In [9]:
initialDf['arrival_time'].unique()

array(['Night', 'Morning', 'Early_Morning', 'Afternoon', 'Evening',
       'Late_Night'], dtype=object)

In [10]:
initialDf['destination_city'].unique()

array(['Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai', 'Delhi'],
      dtype=object)

In [11]:
initialDf['class'].unique()

array(['Economy', 'Business'], dtype=object)

In [ ]:
# For OneHotEncoding airline, source_city, destination_city
# for LabelEncoder departure_time, stops, arrival_time, class
LE = LabelEncoder()
LeDf =pd.DataFrame(LE.fit_transform(df[['departure_time', 'stops', 'arrival_time', 'class']]))

In [12]:
initialDf.head(2)

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953

In [21]:
x = initialDf.iloc[:,:-1]
y = initialDf.iloc[:,-1]

In [29]:
# For OneHotEncoding airline, source_city, destination_city

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
x1 = pd.get_dummies(initialDf['airline'])
x2 = pd.get_dummies(initialDf['source_city'])
x3 = pd.get_dummies(initialDf['destination_city'])

In [47]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder, OrdinalEncoder

OE1 = OneHotEncoder(handle_unknown='ignore')
airLine = OE.fit_transform(initialDf[['airline']])
airLineDf = pd.DataFrame(airLine.toarray())
airLineDf.columns = OE.get_feature_names()


OE2 = OneHotEncoder(handle_unknown='ignore')
source = OE.fit_transform(initialDf[['source_city']])
sourceDf = pd.DataFrame(source.toarray())
sourceDf.columns = OE.get_feature_names()

C:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [49]:
df = initialDf[['duration','days_left']]

finalDf = df.join(airLineDf).join(sourceDf)
finalDf.head()

,duration,days_left,x0_AirAsia,x0_Air_India,x0_GO_FIRST,x0_Indigo,x0_SpiceJet,x0_Vistara,x0_Bangalore,x0_Chennai,x0_Delhi,x0_Hyderabad,x0_Kolkata,x0_Mumbai
0,2.17,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2.33,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2.17,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2.25,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2.33,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [50]:
OE3 = OneHotEncoder(handle_unknown='ignore')
destination = OE.fit_transform(initialDf[['destination_city']])
destinationDf = pd.DataFrame(destination.toarray())

In [51]:
OE.get_feature_names()

C:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array(['x0_Bangalore', 'x0_Chennai', 'x0_Delhi', 'x0_Hyderabad',
       'x0_Kolkata', 'x0_Mumbai'], dtype=object)

In [52]:
destinationDf.columns = ['d0_Bangalore', 'd0_Chennai', 'd0_Delhi', 'd0_Hyderabad',
       'd0_Kolkata', 'd0_Mumbai']

In [53]:
finalDf = finalDf.join(destinationDf)
finalDf.head()

,duration,days_left,x0_AirAsia,x0_Air_India,x0_GO_FIRST,x0_Indigo,x0_SpiceJet,x0_Vistara,x0_Bangalore,x0_Chennai,x0_Delhi,x0_Hyderabad,x0_Kolkata,x0_Mumbai,d0_Bangalore,d0_Chennai,d0_Delhi,d0_Hyderabad,d0_Kolkata,d0_Mumbai
0,2.17,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2.33,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.17,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2.25,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2.33,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [56]:
# for LabelEncoder departure_time, stops, arrival_time, class
LE1 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE1.fit_transform(initialDf[['departure_time']])
dTimeDf = pd.DataFrame(encoder)
dTimeDf.columns=['departure_time']


LE2 = OrdinalEncoder(categories=[['zero', 'one', 'two_or_more']])
encoder=LE2.fit_transform(initialDf[['stops']])
stopsDf = pd.DataFrame(encoder)
stopsDf.columns=['stops']

LE3 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE3.fit_transform(initialDf[['arrival_time']])
aTimeDf = pd.DataFrame(encoder)
aTimeDf.columns=['arrival_time']

LE4 = OrdinalEncoder(categories=[['Economy', 'Business']])
encoder=LE4.fit_transform(initialDf[['class']])
classDf = pd.DataFrame(encoder)
classDf.columns=['class']

In [63]:
finalDf = finalDf.join(dTimeDf).join(aTimeDf).join(stopsDf).join(classDf)

In [64]:
finalDf.head()

,duration,days_left,x0_AirAsia,x0_Air_India,x0_GO_FIRST,x0_Indigo,x0_SpiceJet,x0_Vistara,x0_Bangalore,x0_Chennai,...,d0_Bangalore,d0_Chennai,d0_Delhi,d0_Hyderabad,d0_Kolkata,d0_Mumbai,departure_time,arrival_time,stops,class
0,2.17,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,0.0,0.0
1,2.33,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0
2,2.17,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
3,2.25,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,0.0
4,2.33,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0

In [65]:
finalDf.shape

(300153, 24)

In [66]:
initialDf.shape

(300153, 10)

In [67]:
from sklearn.preprocessing import StandardScaler


sc = StandardScaler()
finalDf = sc.fit_transform(finalDf)

In [71]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(finalDf,y,test_size=0.25,random_state=0)

## Linear Regression

In [72]:
from sklearn.linear_model import LinearRegression


Lr = LinearRegression()

Lr.fit(X_train,y_train)

LinearRegression()

In [73]:
y_pred = Lr.predict(X_test)

In [75]:
print(Lr.score(X_test,y_test))

0.9105215350928817

## Decision Tree

In [77]:
from sklearn.tree import DecisionTreeRegressor
Dt = DecisionTreeRegressor(random_state= 0)  
Dt.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [78]:
print(Dt.score(X_test,y_test))

0.9761103823700288

## SVM

In [ ]:
from sklearn.svm import SVR
svm = SVR(kernel='rbf')

svm.fit(X_train,y_train)

In [ ]:
print(svm.score(X_test,y_test))

In [3]:
import numpy as np
import pandas as pd


initialDf = pd.read_csv('Clean_Dataset.csv')
initialDf = initialDf.drop(['Unnamed: 0','flight'],axis = 1)

x = initialDf.iloc[:,:-1]
y = initialDf.iloc[:,-1]

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
x1 = pd.get_dummies(initialDf['airline'])
x2 = pd.get_dummies(initialDf['source_city'])
x3 = pd.get_dummies(initialDf['destination_city'])


from sklearn.preprocessing import OneHotEncoder,LabelEncoder, OrdinalEncoder

OE1 = OneHotEncoder(handle_unknown='ignore')
airLine = OE1.fit_transform(initialDf[['airline']])
airLineDf = pd.DataFrame(airLine.toarray())
airLineDf.columns = OE1.get_feature_names()


OE2 = OneHotEncoder(handle_unknown='ignore')
source = OE2.fit_transform(initialDf[['source_city']])
sourceDf = pd.DataFrame(source.toarray())
sourceDf.columns = OE2.get_feature_names()


df = initialDf[['duration','days_left']]

finalDf = df.join(airLineDf).join(sourceDf)

OE3 = OneHotEncoder(handle_unknown='ignore')
destination = OE3.fit_transform(initialDf[['destination_city']])
destinationDf = pd.DataFrame(destination.toarray())

destinationDf.columns = ['d0_Bangalore', 'd0_Chennai', 'd0_Delhi', 'd0_Hyderabad',
       'd0_Kolkata', 'd0_Mumbai']


finalDf = finalDf.join(destinationDf)

LE1 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE1.fit_transform(initialDf[['departure_time']])
dTimeDf = pd.DataFrame(encoder)
dTimeDf.columns=['departure_time']


LE2 = OrdinalEncoder(categories=[['zero', 'one', 'two_or_more']])
encoder=LE2.fit_transform(initialDf[['stops']])
stopsDf = pd.DataFrame(encoder)
stopsDf.columns=['stops']

LE3 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE3.fit_transform(initialDf[['arrival_time']])
aTimeDf = pd.DataFrame(encoder)
aTimeDf.columns=['arrival_time']

LE4 = OrdinalEncoder(categories=[['Economy', 'Business']])
encoder=LE4.fit_transform(initialDf[['class']])
classDf = pd.DataFrame(encoder)
classDf.columns=['class']

finalDf = finalDf.join(dTimeDf).join(aTimeDf).join(stopsDf).join(classDf)

from sklearn.preprocessing import StandardScaler


sc = StandardScaler()
finalDf = sc.fit_transform(finalDf)


from sklearn.tree import DecisionTreeRegressor
Dt = DecisionTreeRegressor(random_state= 0)  
Dt.fit(finalDf,y)

c:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
c:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

DecisionTreeRegressor(random_state=0)

In [5]:
print(finalDf[0])

[-1.39753079 -1.84387477 -0.23805908 -0.60739623 -0.28924571 -0.40958584
  5.68415531 -0.86145099 -0.45808901 -0.38473232  1.9730757  -0.39666273
 -0.42732655 -0.50450103 -0.45279397 -0.39419543 -0.4860562  -0.40739817
 -0.44457466  2.01965066 -1.33140336  1.01927098 -2.32177945 -0.67257558]

In [6]:
print(y[0])

5953

In [15]:
a = np.array([-1.39753079, -1.84387477, -0.23805908, -0.60739623, -0.28924571, -0.40958584,  5.68415531, -0.86145099, -0.45808901, -0.38473232,  1.9730757,  -0.39666273,-0.42732655, -0.50450103, -0.45279397, -0.39419543, -0.4860562,  -0.40739817,-0.44457466,  2.01965066, -1.33140336,  1.01927098, -2.32177945, -0.67257558])

In [13]:
a.reshape(-1,1)
a.shape

(24, 1)

In [14]:
a

array([[-1.39753079],
       [-1.84387477],
       [-0.23805908],
       [-0.60739623],
       [-0.28924571],
       [-0.40958584],
       [ 5.68415531],
       [-0.86145099],
       [-0.45808901],
       [-0.38473232],
       [ 1.9730757 ],
       [-0.39666273],
       [-0.42732655],
       [-0.50450103],
       [-0.45279397],
       [-0.39419543],
       [-0.4860562 ],
       [-0.40739817],
       [-0.44457466],
       [ 2.01965066],
       [-1.33140336],
       [ 1.01927098],
       [-2.32177945],
       [-0.67257558]])

In [ ]:
Dt.predict(a.reshape(-1,1))

In [16]:
Dt.predict([-1.39753079, -1.84387477, -0.23805908, -0.60739623, -0.28924571, -0.40958584,  5.68415531, -0.86145099, -0.45808901, -0.38473232,  1.9730757,  -0.39666273,-0.42732655, -0.50450103, -0.45279397, -0.39419543, -0.4860562,  -0.40739817,-0.44457466,  2.01965066, -1.33140336,  1.01927098, -2.32177945, -0.67257558])

ValueError: Expected 2D array, got 1D array instead:
array=[-1.3975308  -1.8438748  -0.23805907 -0.60739625 -0.28924572 -0.40958583
  5.6841555  -0.86145097 -0.45808902 -0.3847323   1.9730757  -0.39666274
 -0.42732656 -0.50450104 -0.45279396 -0.39419544 -0.4860562  -0.40739816
 -0.44457465  2.0196507  -1.3314034   1.019271   -2.3217795  -0.6725756 ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [47]:
import numpy as np
import pandas as pd


initialDf = pd.read_csv('Clean_Dataset.csv')
initialDf = initialDf.drop(['Unnamed: 0','flight'],axis = 1)

x = initialDf.iloc[:,:-1]
y = initialDf.iloc[:,-1]

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
x1 = pd.get_dummies(initialDf['airline'])
x2 = pd.get_dummies(initialDf['source_city'])
x3 = pd.get_dummies(initialDf['destination_city'])


from sklearn.preprocessing import OneHotEncoder,LabelEncoder, OrdinalEncoder

OE1 = OneHotEncoder(handle_unknown='ignore')
airLine = OE1.fit_transform(initialDf[['airline']])
airLineDf = pd.DataFrame(airLine.toarray())
airLineDf.columns = OE1.get_feature_names()


OE2 = OneHotEncoder(handle_unknown='ignore')
source = OE2.fit_transform(initialDf[['source_city']])
sourceDf = pd.DataFrame(source.toarray())
sourceDf.columns = OE2.get_feature_names()


df = initialDf[['duration','days_left']]

finalDf = df.join(airLineDf).join(sourceDf)

OE3 = OneHotEncoder(handle_unknown='ignore')
destination = OE3.fit_transform(initialDf[['destination_city']])
destinationDf = pd.DataFrame(destination.toarray())

destinationDf.columns = ['d0_Bangalore', 'd0_Chennai', 'd0_Delhi', 'd0_Hyderabad',
       'd0_Kolkata', 'd0_Mumbai']


finalDf = finalDf.join(destinationDf)

LE1 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE1.fit_transform(initialDf[['departure_time']])
dTimeDf = pd.DataFrame(encoder)
dTimeDf.columns=['departure_time']


LE2 = OrdinalEncoder(categories=[['zero', 'one', 'two_or_more']])
encoder=LE2.fit_transform(initialDf[['stops']])
stopsDf = pd.DataFrame(encoder)
stopsDf.columns=['stops']

LE3 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE3.fit_transform(initialDf[['arrival_time']])
aTimeDf = pd.DataFrame(encoder)
aTimeDf.columns=['arrival_time']

LE4 = OrdinalEncoder(categories=[['Economy', 'Business']])
encoder=LE4.fit_transform(initialDf[['class']])
classDf = pd.DataFrame(encoder)
classDf.columns=['class']

finalDf = finalDf.join(dTimeDf).join(aTimeDf).join(stopsDf).join(classDf)

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(finalDf,y,test_size=0.25,random_state=0)


from sklearn.tree import DecisionTreeRegressor
Dt = DecisionTreeRegressor(random_state= 0)  
Dt.fit(X_train,y_train)

print(Dt.score(X_test,y_test))

C:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

0.9762210471139494

In [52]:
X_test.iloc[1,].values

array([ 6.92, 43.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  1.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  2.  ,  0.  ,  1.  ,  1.  ])

In [56]:
a = [ 6.92, 43.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  1.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  2.  ,  0.  ,  1.  ,  1.  ]

col = X_test.columns
df2 = pd.DataFrame(columns=col)

In [57]:
len(df2)

0

In [58]:
df2

Empty DataFrame
Columns: [duration, days_left, x0_AirAsia, x0_Air_India, x0_GO_FIRST, x0_Indigo, x0_SpiceJet, x0_Vistara, x0_Bangalore, x0_Chennai, x0_Delhi, x0_Hyderabad, x0_Kolkata, x0_Mumbai, d0_Bangalore, d0_Chennai, d0_Delhi, d0_Hyderabad, d0_Kolkata, d0_Mumbai, departure_time, arrival_time, stops, class]
Index: []

[0 rows x 24 columns]

In [59]:


df2.loc[len(df2)] = a
print(df2)

   duration  days_left  x0_AirAsia  x0_Air_India  x0_GO_FIRST  x0_Indigo  \
0      6.92       43.0         0.0           0.0          0.0        0.0

   x0_SpiceJet  x0_Vistara  x0_Bangalore  x0_Chennai  ...  d0_Bangalore  \
0          0.0         1.0           0.0         0.0  ...           1.0

   d0_Chennai  d0_Delhi  d0_Hyderabad  d0_Kolkata  d0_Mumbai  departure_time  \
0         0.0       0.0           0.0         0.0        0.0             2.0

   arrival_time  stops  class
0           0.0    1.0    1.0

[1 rows x 24 columns]

In [60]:
df2.head()

,duration,days_left,x0_AirAsia,x0_Air_India,x0_GO_FIRST,x0_Indigo,x0_SpiceJet,x0_Vistara,x0_Bangalore,x0_Chennai,...,d0_Bangalore,d0_Chennai,d0_Delhi,d0_Hyderabad,d0_Kolkata,d0_Mumbai,departure_time,arrival_time,stops,class
0,6.92,43.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0

In [61]:
Dt.predict(df2)

array([66928.])

In [62]:
col = X_test.columns

In [63]:
col

Index(['duration', 'days_left', 'x0_AirAsia', 'x0_Air_India', 'x0_GO_FIRST',
       'x0_Indigo', 'x0_SpiceJet', 'x0_Vistara', 'x0_Bangalore', 'x0_Chennai',
       'x0_Delhi', 'x0_Hyderabad', 'x0_Kolkata', 'x0_Mumbai', 'd0_Bangalore',
       'd0_Chennai', 'd0_Delhi', 'd0_Hyderabad', 'd0_Kolkata', 'd0_Mumbai',
       'departure_time', 'arrival_time', 'stops', 'class'],
      dtype='object')

In [42]:
LE3 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE3.fit_transform(initialDf[['arrival_time']])

encoder

array([[4.],
       [2.],
       [1.],
       ...,
       [4.],
       [0.],
       [0.]])

In [44]:
initialDf[['arrival_time']]

         arrival_time
0               Night
1             Morning
2       Early_Morning
3           Afternoon
4             Morning
...               ...
300148        Evening
300149          Night
300150          Night
300151        Evening
300152        Evening

[300153 rows x 1 columns]