In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
initialDf = pd.read_csv('Clean_Dataset.csv')
initialDf.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [3]:
initialDf = initialDf.drop(['Unnamed: 0','flight'],axis = 1)
initialDf.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [4]:
initialDf['airline'].unique()

array(['SpiceJet', 'AirAsia', 'Vistara', 'GO_FIRST', 'Indigo',
       'Air_India'], dtype=object)

In [5]:
initialDf['source_city'].unique()

array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
      dtype=object)

In [6]:
initialDf['departure_time'].unique()

array(['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night'], dtype=object)

In [7]:
initialDf['stops'].unique()

array(['zero', 'one', 'two_or_more'], dtype=object)

In [8]:
initialDf['arrival_time'].unique()

array(['Night', 'Morning', 'Early_Morning', 'Afternoon', 'Evening',
       'Late_Night'], dtype=object)

In [9]:
initialDf['destination_city'].unique()

array(['Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai', 'Delhi'],
      dtype=object)

In [10]:
initialDf['class'].unique()

array(['Economy', 'Business'], dtype=object)

In [11]:
# For OneHotEncoding airline, source_city, destination_city
# for LabelEncoder departure_time, stops, arrival_time, class
LE = LabelEncoder()
LeDf =pd.DataFrame(LE.fit_transform(df[['departure_time', 'stops', 'arrival_time', 'class']]))

NameError: name 'LabelEncoder' is not defined

In [12]:
initialDf.head(2)

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953

In [13]:
x = initialDf.iloc[:,:-1]
y = initialDf.iloc[:,-1]

In [14]:
# For OneHotEncoding airline, source_city, destination_city

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
x1 = pd.get_dummies(initialDf['airline'])
x2 = pd.get_dummies(initialDf['source_city'])
x3 = pd.get_dummies(initialDf['destination_city'])

In [16]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder, OrdinalEncoder

OE1 = OneHotEncoder(handle_unknown='ignore')
airLine = OE1.fit_transform(initialDf[['airline']])
airLineDf = pd.DataFrame(airLine.toarray())
airLineDf.columns = OE1.get_feature_names()


OE2 = OneHotEncoder(handle_unknown='ignore')
source = OE2.fit_transform(initialDf[['source_city']])
sourceDf = pd.DataFrame(source.toarray())
sourceDf.columns = OE2.get_feature_names()

C:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [17]:
df = initialDf[['duration','days_left']]

finalDf = df.join(airLineDf).join(sourceDf)
finalDf.head()

,duration,days_left,x0_AirAsia,x0_Air_India,x0_GO_FIRST,x0_Indigo,x0_SpiceJet,x0_Vistara,x0_Bangalore,x0_Chennai,x0_Delhi,x0_Hyderabad,x0_Kolkata,x0_Mumbai
0,2.17,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2.33,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2.17,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2.25,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2.33,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [19]:
OE3 = OneHotEncoder(handle_unknown='ignore')
destination = OE3.fit_transform(initialDf[['destination_city']])
destinationDf = pd.DataFrame(destination.toarray())

In [20]:
OE3.get_feature_names()

C:\Users\omkar patil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array(['x0_Bangalore', 'x0_Chennai', 'x0_Delhi', 'x0_Hyderabad',
       'x0_Kolkata', 'x0_Mumbai'], dtype=object)

In [21]:
destinationDf.columns = ['d0_Bangalore', 'd0_Chennai', 'd0_Delhi', 'd0_Hyderabad',
       'd0_Kolkata', 'd0_Mumbai']

In [22]:
finalDf = finalDf.join(destinationDf)
finalDf.head()

,duration,days_left,x0_AirAsia,x0_Air_India,x0_GO_FIRST,x0_Indigo,x0_SpiceJet,x0_Vistara,x0_Bangalore,x0_Chennai,x0_Delhi,x0_Hyderabad,x0_Kolkata,x0_Mumbai,d0_Bangalore,d0_Chennai,d0_Delhi,d0_Hyderabad,d0_Kolkata,d0_Mumbai
0,2.17,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2.33,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.17,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2.25,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2.33,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [23]:
# for LabelEncoder departure_time, stops, arrival_time, class
LE1 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE1.fit_transform(initialDf[['departure_time']])
dTimeDf = pd.DataFrame(encoder)
dTimeDf.columns=['departure_time']


LE2 = OrdinalEncoder(categories=[['zero', 'one', 'two_or_more']])
encoder=LE2.fit_transform(initialDf[['stops']])
stopsDf = pd.DataFrame(encoder)
stopsDf.columns=['stops']

LE3 = OrdinalEncoder(categories=[['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
       'Late_Night']])
encoder=LE3.fit_transform(initialDf[['arrival_time']])
aTimeDf = pd.DataFrame(encoder)
aTimeDf.columns=['arrival_time']

LE4 = OrdinalEncoder(categories=[['Economy', 'Business']])
encoder=LE4.fit_transform(initialDf[['class']])
classDf = pd.DataFrame(encoder)
classDf.columns=['class']

In [24]:
finalDf = finalDf.join(dTimeDf).join(aTimeDf).join(stopsDf).join(classDf)

In [25]:
finalDf.head()

,duration,days_left,x0_AirAsia,x0_Air_India,x0_GO_FIRST,x0_Indigo,x0_SpiceJet,x0_Vistara,x0_Bangalore,x0_Chennai,...,d0_Bangalore,d0_Chennai,d0_Delhi,d0_Hyderabad,d0_Kolkata,d0_Mumbai,departure_time,arrival_time,stops,class
0,2.17,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,0.0,0.0
1,2.33,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0
2,2.17,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
3,2.25,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,0.0
4,2.33,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0

In [65]:
finalDf.shape

(300153, 24)

In [66]:
initialDf.shape

(300153, 10)

In [67]:
from sklearn.preprocessing import StandardScaler


sc = StandardScaler()
finalDf = sc.fit_transform(finalDf)

In [71]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(finalDf,y,test_size=0.25,random_state=0)

## Linear Regression

In [72]:
from sklearn.linear_model import LinearRegression


Lr = LinearRegression()

Lr.fit(X_train,y_train)

LinearRegression()

In [73]:
y_pred = Lr.predict(X_test)

In [75]:
print(Lr.score(X_test,y_test))

0.9105215350928817

## Decision Tree

In [77]:
from sklearn.tree import DecisionTreeRegressor
Dt = DecisionTreeRegressor(random_state= 0)  
Dt.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [78]:
print(Dt.score(X_test,y_test))

0.9761103823700288

## SVM

In [ ]:
from sklearn.svm import SVR
svm = SVR(kernel='rbf')

svm.fit(X_train,y_train)

In [ ]:
print(svm.score(X_test,y_test))